<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for("static", filename="style.css")}}" />
    <title>my app</title>
</head>
<body>
    <h1>welcome to my page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, quasi optio. 
        Reprehenderit porro veritatis voluptatum harum voluptates consequatur aspernatur
        nemo sunt incidunt repudiandae reiciendis distinctio officia eaque, quos laborum
         accusamus.
    </p>
</body>
</html>