<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{{url_for('calcul')}}" method="post">
        <input type="number" name="nmb1" placeholder="number 1">
        <input type="number" name="nmb2" placeholder="number 2">
        <ul>
            <li><input type="submit" name="operation" value="+"></li>
            <li><input type="submit" name="operation" value="-"></li>
            <li><input type="submit" name="operation" value="/"></li>
            <li><input type="submit" name="operation" value="*"></li>
        </ul>
        
        
       
        
    </form>

</body>
</html>